<ng2-toasty></ng2-toasty>

<div class="row">
  <div class="col-sm-12">
    <app-card>
      <!-- header -->
      <div class="row">
        <div class="col-sm-12 filter-bar">
          <nav class="navbar navbar-light bg-faded m-b-30 p-10">
            {{ 'Ficha cadastral do apartamento ' + apartamento.numero }}
            <div class="nav-item nav-grid">
              <span class="m-r-15">Ações: </span>

              <button type="button" class="btn btn-sm m-r-10" data-toggle="tooltip" data-placement="top"
                title="Visualizar Ficha" (click)="getFicha()">
                <i class="fa fa-print"></i>
              </button>
              <button type="button" class="btn btn-sm-light m-r-10" data-toggle="tooltip" data-placement="top"
                title="Documentos" (click)="getDocumentosPorApartamento(); modalDocumentos.show()">
                <i class="fa fa-file-alt"></i>
              </button>
              <button type="button" class="btn btn-sm m-r-10" data-toggle="tooltip" data-placement="top"
                title="Lista de Apartamentos" [routerLink]="['/apartamento/lista']">
                <i class="fa fa-list"></i>
              </button>
              <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Salvar"
                (click)="salvar()">
                <i class="fa fa-save"></i>
              </button>
            </div>
          </nav>
        </div>
      </div>

      <form autocomplete="off" [formGroup]="formulario">
        <app-card>
          <h5 class="card-title">Dados do Imóvel</h5>
          <div class="form-group row">
            <div class="col-sm-4">
              <label class="col-form-label">Condomínio</label>
              <input type="text" class="form-control" #condominio [value]="apartamento.bloco.condominio.nome" disabled>
            </div>
            <div class="col-sm-3">
              <label class="col-form-label">Bloco</label>
              <input type="text" class="form-control" #bloco [value]="apartamento.bloco.nome" disabled>
            </div>
            <div class="col-sm-2">
              <label class="col-form-label">Nº Quartos</label>
              <input type="number" class="form-control" formControlName="numeroQuartos"
                [validForm]="{form: formulario.get('numeroQuartos'), isSubmit: isSubmit}">
            </div>
          </div>
        </app-card>

        <app-card>
          <h5 class="card-title">Dados do Responsável do Imóvel</h5>
          <div class="form-group row">
            <div class="col-sm-2">
              <div class="row align-items-center m-b-10">
                <div class="col-12 m-l-5">
                  <img class="img-fluid" [src]="getValueResponsavelForm('fotoUrl')" alt="Foto não encontrada"
                    *ngIf="!getValueResponsavelForm('foto64')">
                  <img class="img-fluid" [src]="getValueResponsavelForm('foto64')"
                    *ngIf="getValueResponsavelForm('foto64')">
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-12">
                  <a href="javascript:" class="btn btn-sm btn-primary" data-popup="lightbox"
                    (click)="modalCamera.show(); formFotoTemp = formulario.get('responsavel')">
                    <i class="fa fa-camera"></i></a>
                  <a href="javascript:" class="btn btn-sm btn-primary m-l-5"
                    (click)="removeFoto(formulario.get('responsavel'))"
                    *ngIf="getValueResponsavelForm('foto64') || getValueResponsavelForm('fotoUrl')">
                    <i class="fa fa-trash"></i></a>
                  <a href="javascript:" class="btn btn-sm btn-primary m-l-5"
                    (click)="modalImportaFoto.show(); formFotoTemp = formulario.get('responsavel')">
                    <i class="fa fa-upload"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-10" formGroupName="responsavel">
              <div class="form-group row">
                <div class="col-sm-2">
                  <label class="col-form-label">Código</label>
                  <input type="text" class="form-control" formControlName="id">
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label">Tipo Morador</label>
                  <ng-select [ngClass]="'ng-select'" [options]="listaTipoMoradores" formControlName="tipoMorador"
                    [validForm]="{form: getFieldResponsavelForm('tipoMorador'), isSubmit: isSubmit}">
                  </ng-select>
                </div>
                <div class="col-sm-7">
                  <label class="col-form-label">Nome</label>
                  <input type="text" class="form-control" formControlName="nome"
                    [validForm]="{form: getFieldResponsavelForm('nome'), isSubmit: isSubmit}">
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label">Telefone</label>
                  <input type="text" class="form-control" formControlName="telefone" [textMask]="{mask: telefoneMask}"
                    [validForm]="{form: getFieldResponsavelForm('telefone'), isSubmit: isSubmit}">
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label">Celular</label>
                  <input type="text" class="form-control" formControlName="celular" [textMask]="{mask: celularMask}"
                    [validForm]="{form: getFieldResponsavelForm('celular'), isSubmit: isSubmit}">
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label">Tipo Documento</label>
                  <ng-select [ngClass]="'ng-select'" [options]="listaTipoDocumentos" formControlName="tipoDocumento"
                    [validForm]="{form: getFieldResponsavelForm('tipoDocumento'), isSubmit: isSubmit}">
                  </ng-select>
                </div>
                <div class="col-sm-3">
                  <label class="col-form-label">Documento</label>
                  <input type="text" class="form-control" formControlName="documento"
                    [validForm]="{form: getFieldResponsavelForm('documento'), isSubmit: isSubmit}">
                </div>
                <div class="col-sm-6">
                  <label class="col-form-label">E-mail</label>
                  <input type="email" class="form-control" formControlName="email"
                    [validForm]="{form: getFieldResponsavelForm('email'), isSubmit: isSubmit}">
                </div>
                <div class="col-sm-4">
                  <label class="col-form-label">Placa Carro</label>
                  <input type="text" class="form-control" formControlName="placaCarro"
                    [validForm]="{form: getFieldResponsavelForm('placaCarro'), isSubmit: isSubmit}">
                </div>
                <div class="col-sm-2">
                  <br><br>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="ativo" formControlName="ativo"
                      [validForm]="{form: getFieldResponsavelForm('ativo'), isSubmit: isSubmit}">
                    <label class="custom-control-label" for="ativo">Ativo</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </app-card>

        <app-card>
          <h5 class="card-title">Dados dos Residentes</h5>
          <form autocomplete="off" [formGroup]="formularioResidente">

            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary btn-round btn-sm m-b-35" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                  Adicionar novo residente
                </button>
                <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                  <div class="form-group row">
                    <div class="col-sm-2">
                      <div class="row align-items-center m-b-10">
                        <div class="col-12 m-l-5">
                          <img class="img-fluid" [src]="getValueResidenteForm('fotoUrl')" alt="Foto não encontrada"
                            *ngIf="!getValueResidenteForm('foto64')">
                          <img class="img-fluid" [src]="getValueResidenteForm('foto64')"
                            *ngIf="getValueResidenteForm('foto64')">
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-12">
                          <a href="javascript:" class="btn btn-sm btn-primary" data-popup="lightbox"
                            (click)="modalCamera.show(); formFotoTemp = formularioResidente">
                            <i class="fa fa-camera"></i></a>
                          <a href="javascript:" class="btn btn-sm btn-primary m-l-5"
                            (click)="removeFoto(formularioResidente)"
                            *ngIf="getValueResidenteForm('foto64') || getValueResidenteForm('fotoUrl')">
                            <i class="fa fa-trash"></i></a>
                          <a href="javascript:" class="btn btn-sm btn-primary m-l-5"
                            (click)="modalImportaFoto.show(); formFotoTemp = formularioResidente">
                            <i class="fa fa-upload"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <div class="form-group row">
                        <div class="col-sm-9">
                          <label class="col-form-label">Nome</label>
                          <input type="text" class="form-control" formControlName="nome"
                            [validForm]="{form: formularioResidente.get('nome'), isSubmit: isSubmitResidente}">
                        </div>
                        <div class="col-sm-3">
                          <label class="col-form-label">Parentesco</label>
                          <input type="text" class="form-control" formControlName="parentesco"
                            [validForm]="{form: formularioResidente.get('parentesco'), isSubmit: isSubmitResidente}">
                        </div>
                        <div class="col-sm-4">
                          <label class="col-form-label">Celular</label>
                          <input type="text" class="form-control" formControlName="celular"
                            [textMask]="{mask: celularMask}"
                            [validForm]="{form: formularioResidente.get('celular'), isSubmit: isSubmitResidente}">
                        </div>
                        <div class="col-sm-4">
                          <label class="col-form-label">Tipo Documento</label>
                          <ng-select [ngClass]="'ng-select'" [options]="listaTipoDocumentos"
                            formControlName="tipoDocumento">
                          </ng-select>
                        </div>
                        <div class="col-sm-4">
                          <label class="col-form-label">Documento</label>
                          <input type="text" class="form-control" formControlName="documento"
                            [validForm]="{form: formularioResidente.get('documento'), isSubmit: isSubmitResidente}">
                        </div>
                        <div class="col-sm-7">
                          <label class="col-form-label">E-mail</label>
                          <input type="email" class="form-control" formControName="email">
                        </div>
                        <div class="col-sm-1">
                          <br><br>
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="ativoResidente"
                              formControlName="ativo"
                              [validForm]="{form: formularioResidente.get('ativo'), isSubmit: isSubmitResidente}">
                            <label class="custom-control-label" for="ativoResidente">Ativo</label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <button class="btn btn-primary btn-round btn-sm m-t-35 m-r-10" (click)="incluiResidente()">
                            Adicionar
                          </button>
                          <button class="btn btn-warning btn-round btn-sm m-t-35"
                            (click)="resetResidenteForm(); isCollapsed = !isCollapsed">
                            Cancelar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <app-card>
              <h5 class="card-title">Lista dos Residentess</h5>
              <div class="form-group row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Código</th>
                          <th>Nome</th>
                          <th>Parentesco</th>
                          <th>Documento</th>
                          <th>Opções</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let mora of listaResidentes">
                          <th scope="row">{{mora.id == undefined ? '' : mora.id}}</th>
                          <td>{{mora.nome}}</td>
                          <td>{{mora.parentesco}}</td>
                          <td>{{mora.documento}}</td>
                          <td>
                            <span class="badge badge-secondary pointer m-r-5"
                              (click)="modalExibeFoto.show(); formFotoTemp = mora"
                              *ngIf="mora.fotoUrl || mora.foto64">Foto</span>
                            <span class="badge badge-warning pointer m-r-5"
                              (click)="carregaEditarResidente(mora); isCollapsed = (!isCollapsed || isCollapsed == undefined ? !isCollapsed : isCollapsed)">Editar</span>
                            <span class="badge badge-danger pointer" (click)="removerResidente(mora)">Deletar</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </app-card>
          </form>
        </app-card>
      </form>
    </app-card>
  </div>
</div>

<app-ui-modal #modalCamera>
  <div class="app-modal-header">
    <h4 class="modal-title">Capturar foto</h4>
    <button type="button" class="close basic-close"
      (click)="modalCamera.hide(); image64Temp = undefined; formFotoTemp = undefined">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <ack-webcam #webcam [options]="options" [mime]="'image/jpeg'" (catch)="onCamError($event)" [hidden]="image64Temp">
    </ack-webcam>
    <image-cropper [imageBase64]="image64Temp" [aspectRatio]="3 / 4" format="jpeg"
      (imageCropped)="croppedImage = $event" resizeToWidth="160" imageQuality="100" onlyScaleDown="true"
      *ngIf="image64Temp"></image-cropper>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="generateBase64(webcam)"
      *ngIf="!image64Temp">Capturar</button>
    <button type="button" class="btn btn-default waves-effect" (click)="image64Temp = undefined" *ngIf="image64Temp">
      Nova Foto
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="confirmarModalFoto(modalCamera)"
      *ngIf="image64Temp">Confirmar</button>
  </div>
</app-ui-modal>

<app-ui-modal #modalImportaFoto>
  <div class="app-modal-header">
    <h4 class="modal-title">Importar foto</h4>
    <button type="button" class="close basic-close"
      (click)="modalImportaFoto.hide(); limparModalUploadFoto(); formFotoTemp = undefined">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="file" class="form-control" (change)="fileChangeEvent($event)">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [aspectRatio]="3 / 4" format="jpeg"
          (imageCropped)="croppedImage = $event" resizeToWidth="160" imageQuality="100" onlyScaleDown="true">
        </image-cropper>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect"
      (click)="confirmarModalFoto(modalImportaFoto); limparModalUploadFoto();">Confirmar</button>
  </div>
</app-ui-modal>

<app-ui-modal #modalExibeFoto>
  <div class="app-modal-header">
    <h4 class="modal-title">Exibir foto</h4>
    <button type="button" class="close basic-close" (click)="modalExibeFoto.hide(); formFotoTemp = undefined">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <img class="img-fluid" [src]="formFotoTemp.fotoUrl" *ngIf="formFotoTemp && formFotoTemp.fotoUrl">
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect"
      (click)="modalExibeFoto.hide(); formFotoTemp = undefined">Fechar</button>
  </div>
</app-ui-modal>

<app-ui-modal #modalDocumentos>
  <div class="app-modal-header">
    <h4 class="modal-title">Documentos do apartamento {{ apartamento.numero }}</h4>
    <button type="button" class="close basic-close" (click)="modalDocumentos.hide(); documentosForm.reset()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="documentosForm">
      <file-upload formControlName="files">
        <ng-template #placeholder>
          <span style="font-size: 3em">
            <i class="fa fa-print"></i>
          </span>
          <br>
          <span>Arraste e solte arquivos ou Clique aqui</span>
        </ng-template>
      </file-upload>
    </form>
    <!-- <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
      [uploader]="uploader" class="well ngb-drop-zone text-center">
      Arraste e solte arquivos aqui
    </div>
    <div *ngIf="uploader?.queue?.length !== 0">
      <p>Quantidade de itens: {{ uploader?.queue?.length }}</p>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th width="30%">Nome</th>
              <th>Progresso</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td>
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="fa fa-check"></i></span>
                <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                <span *ngIf="item.isError"><i class="fa fa-times"></i></span>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-sm m-b-5" (click)="item.upload()"
                  [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <span class="fa fa-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-warning btn-sm m-b-5" (click)="item.cancel()"
                  [disabled]="!item.isUploading">
                  <span class="fa fa-ban"></span> Cancelar
                </button>
                <button type="button" class="btn btn-danger btn-sm m-b-5" (click)="item.remove()">
                  <span class="fa fa-trash"></span> Remover
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <p>
          <ngb-progressbar type="primary" [value]="uploader.progress"></ngb-progressbar>
        </p>

        <div class="sub-title">Ações</div>
        <button type="button" class="btn btn-success btn-sm m-b-5" (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length">
          <span class="fa fa-upload"></span> Upload todos
        </button>
        <button type="button" class="btn btn-warning btn-sm m-b-5" (click)="uploader.cancelAll()"
          [disabled]="!uploader.isUploading">
          <span class="fa fa-ban"></span> Cancelar todos
        </button>
        <button type="button" class="btn btn-danger btn-sm m-b-5" (click)="uploader.clearQueue()"
          [disabled]="!uploader.queue.length">
          <span class="fa fa-trash"></span> Remover todos
        </button>
      </div>
    </div>
    <br> -->
    <div class="table-responsive" *ngIf="documentos.length !== 0">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>#</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of documentos">
            <th scope="row"><a [href]="doc.path" target="_blank">{{ doc.nome }}</a></th>
            <td><label class="badge badge-danger pointer" (click)="excluirDocumento(doc)">Excluir</label></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect"
      (click)="modalDocumentos.hide(); documentosForm.reset()">Fechar</button>
    <button type="button" class="btn btn-default waves-effect" (click)="importarFotos()">Importar fotos</button>
  </div>
</app-ui-modal>