<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <app-card>
        <app-loader [observable]="observable"></app-loader>
        <div class="row">
          <div class="col-sm-12 filter-bar">
            <nav class="navbar navbar-light bg-faded m-b-30 p-10">
              Lista de Moradores
            </nav>
          </div>
        </div>
      
        <!-- filtros -->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <div class="col-sm-3">
                <label class="col-form-label">Condominio</label>
                <ng-select [ngClass]="'ng-select'" [options]="listaCondominios" [(ngModel)]="listaData.idCondominio">
                </ng-select>
              </div>
              <div class="col-sm-3">
                <label class="col-form-label">Bloco</label>
                <ng-select [ngClass]="'ng-select'" [options]="listaBlocos" [(ngModel)]="listaData.idBloco">
                </ng-select>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label">Nome</label>
                <input type="text" class="form-control form-control-round" [(ngModel)]="listaData.nome">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3">
                <label class="col-form-label">Documento</label>
                <input type="text" class="form-control form-control-round" [(ngModel)]="listaData.documento">
              </div>
              <div class="col-sm-3">
                <label class="col-form-label">Numero Apart.</label>
                <input type="number" class="form-control form-control-round" [(ngModel)]="listaData.numeroApartamento">
              </div>
              <!-- <div class="col-sm-3">
                <label class="col-form-label">Ativo</label>
                <ng-select [ngClass]="'ng-select'" [options]="ativoOpcoes" [(ngModel)]="listaData.ativo">
                </ng-select>
              </div> -->
              <div class="col-sm-2">
                <button class="btn btn-primary btn-round btn-sm m-t-35 m-r-10" (click)="getMoradores()">
                  Pesquisar
                </button>
                <button class="btn btn-warning btn-round btn-sm m-t-35" (click)="limparPesquisa()">
                  Limpar
                </button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <ngx-datatable #table class='data-table' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [externalPaging]="true" [rows]="listaMoradores"
          [count]="listaData ? listaData.totalElements : 0" [offset]="listaData ? listaData.page : 0"
          [limit]="listaData ? listaData.size : 10" (page)='setPage($event)' (sort)="onSort($event)">
          <ngx-datatable-column prop="nomeMorador" name="Nome" [flexGrow]="3" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>{{ row.nomeMorador }}</ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="documentoMorador" name="Documento" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>{{ row.documentoMorador }}</ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="numeroApartamento" name="Apart." [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>{{ row.numeroApartamento }}</ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="nomeBloco" name="Bloco" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>{{ row.nomeBloco }}</ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="nomeCondominio" name="Condomínio" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>{{ row.nomeCondominio }}</ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="Telefone"></ngx-datatable-column> -->
          <ngx-datatable-column prop="ativoMorador" name="Ativo" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <label class="label bg-success" *ngIf="row.ativoMorador">Ativo</label>
              <label class="label bg-danger" *ngIf="!row.ativoMorador">Inativo</label>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="id" name="Opções" [flexGrow]="1" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <label [routerLink]="['/ficha',row.viewApartamentosMoradoresID.idApartamento]"
                class="label label-primary pointer">Ficha</label>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </app-card>
    </div>
  </div>
</div>