<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <app-card>
        <div class="row">
          <div class="col-sm-12 filter-bar">
            <nav class="navbar navbar-light bg-faded m-b-30 p-10">
              Lista de Rotas
              <div class="nav-item nav-grid">
                <span class="m-r-15">Ações: </span>

                <label class="badge badge-light m-t-10 pointer" [routerLink]="['/rota/cadastro']">Novo</label>
              </div>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <label class="dt-cust-search f-right">
              <div class="form-group">
                <label>Pesquisar: </label>
                <input type='text' class="form-control input-sm m-l-10" (keyup)='updateFilter($event)' />
              </div>
            </label>
          </div>
        </div>
        <ngx-datatable #table class='data-table' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="50" [rows]="listaRotasTemp" [limit]="10">
          <ngx-datatable-column name="Nome"></ngx-datatable-column>
          <ngx-datatable-column name="Ativo">
            <ng-template let-ativo="value" ngx-datatable-cell-template>
              <label class="badge badge-success" *ngIf="ativo">Ativo</label>
              <label class="badge badge-danger" *ngIf="!ativo">Inativo</label>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="id" name="Opções">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <label class="badge badge-warning pointer m-r-5"
                [routerLink]="['/rota/cadastro', row.id]">Ver/Editar</label>
              <label class="badge badge-danger pointer" (click)="excluir(row)">Excluir</label>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </app-card>
    </div>
  </div>
</div>