<ng2-toasty></ng2-toasty>

<div class="row">
  <div class="col-sm-12">
    <app-card>
      <div class="row">
        <div class="col-sm-12 filter-bar">
          <nav class="navbar navbar-light bg-faded m-b-30 p-10">
            {{ !bloco.id ? 'Cadastro de Bloco' : ('Cadastro do Bloco: ' + bloco.nome) }}
            <div class="nav-item nav-grid">
              <span class="m-r-15">Ações: </span>

              <button type="button" class="btn btn-sm m-r-10" data-toggle="tooltip" data-placement="top"
                title="Lista de Blocos" [routerLink]="['/bloco/lista']">
                <i class="fa fa-list"></i>
              </button>
              <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Salvar"
                (click)="salvar(blocoForm)">
                <i class="fa fa-save"></i>
              </button>
            </div>
          </nav>
        </div>
      </div>

      <form autocomplete="off" (ngSubmit)="salvar(blocoForm)" #blocoForm="ngForm">
        <div class="form-group row">
          <div class="col-sm-4">
            <label class="col-form-label">Condomínio</label>
            <ng-select [ngClass]="'ng-select'" [options]="listaCondominios" [(ngModel)]="condominioId" name="condominio"
              #condominio="ngModel" required [validForm]="{form: condominio, isSubmit: isSubmit}">
            </ng-select>
          </div>
          <div class="col-sm-4">
            <label class="col-form-label">Nome</label>
            <input type="text" class="form-control" #nome="ngModel" [(ngModel)]="bloco.nome" name="nome" required
              minlength="5" maxlength="25" [validForm]="{form: nome, isSubmit: isSubmit}">
          </div>
          <div class="col-sm-2">
            <label class="col-form-label">Número</label>
            <input type="number" class="form-control" #numero="ngModel" [(ngModel)]="bloco.numero" name="numero"
              [validForm]="{form: numero, isSubmit: isSubmit}">
          </div>
          <div class="col-sm-2">
            <br><br>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="ativo" [(ngModel)]="bloco.ativo" name="ativo"
                #ativo="ngModel" required [validForm]="{form: ativo, isSubmit: isSubmit}">
              <label class="custom-control-label" for="ativo">Ativo</label>
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>