.auth-wrapper .auth-side-form {
    background-color: #343a40;
}

h1, h2, h3, h4, h5, h6, .cr {
    color: white !important;
}

.btn-primary {
    background-color: white;
    border-color: white;
    color: #343a40;
}

.btn-primary:hover {
    background-color: #343a40;
    border-color: white;
    color: white;
}

.auth-wrapper .saprator span {
    border-radius: 5px;
}