<div class="auth-wrapper maintenance">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <img src="assets/images/maintenance/maintance.png" alt="" class="img-fluid">
          <h5 class="my-4">Voce não tem acesso a página solicitada!</h5>
          <h5 class="text-muted my-4">Clique no botão abaixo para retornar a página anterior!</h5>
          <a class="btn waves-effect waves-light btn-primary mb-4" href="javascript:history.back()">
            <i class="fa fa-arrow-left mr-2"></i>
            Voltar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>