<ng2-toasty></ng2-toasty>

<div class="row">
  <div class="col-sm-12">
    <app-card>
      <div class="row">
        <div class="col-sm-12 filter-bar">
          <nav class="navbar navbar-light bg-faded p-10">
            {{ !apartamento.id ? 'Cadastro de Apartamento' : ('Cadastro da Apartamento: ' + apartamento.numero) }}
            <div class="nav-item nav-grid">
              <span class="m-r-15">Ações: </span>

              <label class="badge badge-light m-t-10 pointer" [routerLink]="['/apartamento/lista']">Lista</label>
              <label class="badge badge-light m-t-10 pointer" (click)="salvar()" *ngIf="podeCadastrar">
                Salvar
              </label>
            </div>
          </nav>
          <div class="codigo-register" *ngIf="apartamento.id">#{{apartamento.id}}</div>
        </div>
      </div>

      <form autocomplete="off" [formGroup]="formulario" *ngIf="podeCadastrar">
        <div class="form-group row">
          <div class="col-sm-6 col-md-4">
            <label class="col-form-label" [ngClass]="{'form-control-danger' : !isValid('blocoId')}">Bloco</label>
            <ng-select [ngClass]="'ng-select'" [options]="listaBlocos" formControlName="blocoId">
            </ng-select>
          </div>
          <div class="col-sm-2">
            <label class="col-form-label" [ngClass]="{'form-control-danger' : !isValid('numero')}">Número</label>
            <input type="number" class="form-control" #numero formControlName="numero">
          </div>
          <div class="col-sm-3">
            <label class="col-form-label" [ngClass]="{'form-control-danger' : !isValid('numeroQuartos')}">
              Nº Quartos
            </label>
            <input type="number" class="form-control" #numeroQuartos formControlName="numeroQuartos">
          </div>
          <div class="col-sm-2">
            <br><br>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="ativo"
                [ngClass]="{'form-control-danger' : !isValid('ativo')}" formControlName="ativo">
              <label class="custom-control-label" for="ativo"
                [ngClass]="{'form-control-danger' : !isValid('ativo')}">Ativo</label>
            </div>
          </div>
        </div>
      </form>

      <app-alert [type]="'danger'" class="m-10" *ngIf="!podeCadastrar">
        Seu pacote de cadastros estourou! Entre em contato com o administrador do The Butler!
      </app-alert>
    </app-card>
  </div>
</div>