.btn .icofont {
    margin-left: 5px !important;
}

.btn-add-resident {
    margin-top: 8%;
}

@media only screen and (max-width: 992px) {
    .btn-add-resident {
        margin-top: 14%;
    }
}

label.label {
    background-color: #3b4650;
}

.img-fluid {
    border: 1px solid #3b4650;
    border-radius: 5px;
}