<app-ui-modal #modalRedefinirSenha>
    <div class="app-modal-header">
      <h4 class="modal-title">Redefinição de senha de {{ usuario.nome }}</h4>
      <button type="button" class="close basic-close" (click)="modalRedefinirSenha.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="app-modal-body">
      <form autocomplete="off" [formGroup]="formularioSenha">
        <div class="form-group row">
          <div class="col-sm-6">
            <label class="col-form-label" [ngClass]="{'form-control-danger' : !isValidSenha('senha')}">Senha</label>
            <input type="password" class="form-control" formControlName="senha">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label class="col-form-label"
              [ngClass]="{'form-control-danger' : !isValidSenha('confirmaSenha') || !senhaValidator()}">
              Confirme a senha
            </label>
            <input type="password" class="form-control" formControlName="confirmaSenha">
          </div>
        </div>
      </form>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="modalRedefinirSenha.hide()">Fechar</button>
      <button type="button" class="btn btn-primary waves-effect" (click)="redefinirSenha(modalRedefinirSenha)"
        [disabled]="formularioSenha.invalid || !senhaValidator()">Salvar</button>
    </div>
  </app-ui-modal>