<ng2-toasty></ng2-toasty>

<div class="row">
  <div class="col-sm-12">
    <app-card>
      <div class="row">
        <div class="col-sm-12 filter-bar">
          <nav class="navbar navbar-light bg-faded p-10">
            {{ !empresa.id ? 'Cadastro de Empresa' : ('Cadastro da Empresa: ' + empresa.nomeFantasia) }}
            <div class="nav-item nav-grid">
              <span class="m-r-15">Ações: </span>

              <label class="badge badge-light m-t-10 pointer" [routerLink]="['/empresa/lista']">Lista</label>
              <label class="badge badge-light m-t-10 pointer" (click)="salvar()">Salvar</label>
            </div>
          </nav>
          <div class="codigo-register" *ngIf="empresa.id">#{{empresa.id}}</div>
        </div>
      </div>

      <form autocomplete="off" [formGroup]="formulario">
        <div class="form-group row">
          <div class="col-sm-2">
            <label class="col-form-label">Cnpj</label>
            <input type="text" class="form-control" formControlName="cnpj" [textMask]="{mask: cnpjMask}"
              [validForm]="{form: formulario.get('cnpj'), isSubmit: isSubmit}">
          </div>
          <div class="col-sm-4">
            <label class="col-form-label">Nome Fantasia</label>
            <input type="text" class="form-control" formControlName="nomeFantasia"
              [validForm]="{form: formulario.get('nomeFantasia'), isSubmit: isSubmit}">
          </div>
          <div class="col-sm-4 col-md-2" formGroupName="empresaConfig">
            <label class="col-form-label">Qtd. Cadastros</label>
            <input type="number" class="form-control" formControlName="qtyApartamentos"
              [validForm]="{form: formulario.get('empresaConfig.qtyApartamentos'), isSubmit: isSubmit}">
          </div>
          <div class="col-sm-12 col-md-2" formGroupName="empresaConfig">
            <br><br>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="bravaSoftIntegration"
                formControlName="bravaSoftIntegration"
                [validForm]="{form: formulario.get('empresaConfig.bravaSoftIntegration'), isSubmit: isSubmit}">
              <label class="custom-control-label" for="bravaSoftIntegration">Integração BravaSoft</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <br><br>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="ativo" formControlName="ativo"
                [validForm]="{form: formulario.get('ativo'), isSubmit: isSubmit}">
              <label class="custom-control-label" for="ativo">Ativo</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label class="col-form-label">Razão Social</label>
            <input type="text" class="form-control" formControlName="razaoSocial"
              [validForm]="{form: formulario.get('razaoSocial'), isSubmit: isSubmit}">
          </div>
          <div class="col-sm-3 col-md-2">
            <label class="col-form-label">CEP</label>
            <input type="text" class="form-control" formControlName="cep" [textMask]="{mask: cepMask}"
              [validForm]="{form: formulario.get('cep'), isSubmit: isSubmit}" (keyup)="validaCep($event)">
          </div>
          <div class="col-sm-9 col-md-10">
            <label class="col-form-label">Rua</label>
            <input type="text" class="form-control" formControlName="rua"
              [validForm]="{form: formulario.get('rua'), isSubmit: isSubmit}">
          </div>

          <div class="col-sm-2">
            <label class="col-form-label">Número</label>
            <input type="number" class="form-control" formControlName="numero"
              [validForm]="{form: formulario.get('numero'), isSubmit: isSubmit}">
          </div>
          <div class="col-sm-4">
            <label class="col-form-label">Bairro</label>
            <input type="text" class="form-control" formControlName="bairro"
              [validForm]="{form: formulario.get('bairro'), isSubmit: isSubmit}">
          </div>
          <div class="col-sm-4">
            <label class="col-form-label">Cidade</label>
            <input type="text" class="form-control" formControlName="cidade"
              [validForm]="{form: formulario.get('cidade'), isSubmit: isSubmit}">
          </div>
          <div class="col-sm-2">
            <label class="col-form-label">Estado</label>
            <input type="text" class="form-control" formControlName="estado"
              [validForm]="{form: formulario.get('estado'), isSubmit: isSubmit}">
          </div>
          <div class="col-sm-12">
            <label class="col-form-label">Complemento</label>
            <input type="text" class="form-control" formControlName="complemento"
              [validForm]="{form: formulario.get('complemento'), isSubmit: isSubmit}">
          </div>
          <div class="col-sm-8">
            <label class="col-form-label">E-mail</label>
            <input type="email" class="form-control" formControlName="email"
              [validForm]="{form: formulario.get('email'), isSubmit: isSubmit}">
          </div>
          <div class="col-sm-4">
            <label class="col-form-label">Telefone</label>
            <input type="text" class="form-control" formControlName="telefone" [textMask]="{mask: telefoneMask}"
              [validForm]="{form: formulario.get('telefone'), isSubmit: isSubmit}">
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>