<section class="login p-fixed d-flex text-center common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form #f="ngForm" (submit)="logar()">
            <div class="text-center">
              <img src="assets/images/logo.png" alt="Gradient Able" height="100px" >
            </div>
            <div class="auth-box form-group">
              <app-loader [observable]="observable"></app-loader>
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Entrar</h3>
                </div>
              </div>
              <hr />
              <div class="input-group">
                <input type="text" class="form-control form-control-round" placeholder="Seu login" name="login" [(ngModel)]="usuario.login"
                  required>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control form-control-round" placeholder="Senha" name="senha" [(ngModel)]="usuario.senha"
                  required (keyup.enter)="f.valid ? logar() : ''">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <!-- <div class="checkbox-fade fade-in-primary d-">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                      <span class="text-inverse">Lembre-me</span>
                    </label>
                  </div> -->
                  <div class="forgot-phone text-right f-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Esqueceu a senha?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-md btn-block waves-effect text-center m-b-20 bg-default btn-round"
                    [disabled]="f.invalid">Entrar</button>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-6">
                  <!-- <p class="text-inverse text-left m-b-0">Aproveite seu app.</p> -->
                  <!-- <p class="text-inverse text-left"><b>Uma aplicação de</b></p> -->
                </div>
                <div class="col-md-6">
                  <img src="assets/images/onsmart-logo.png" alt="small-logo.png" height="45px" >
                </div>
              </div>

            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>