<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <app-card>
        <div class="row">
          <div class="col-sm-12 filter-bar">
            <nav class="navbar navbar-light bg-faded m-b-30 p-10">
              Lista de Usuários
              <div class="nav-item nav-grid">
                <span class="m-r-15">Ações: </span>

                <label class="badge badge-light m-t-10 pointer" [routerLink]="['/usuario/cadastro']">Novo</label>
              </div>
            </nav>
          </div>
        </div>

        <ngx-datatable #table class='data-table' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="50" [rows]="listaUsuarios" [externalPaging]="true"
          [count]="listaData ? listaData.totalElements : 0" [offset]="listaData ? listaData.page : 0"
          [limit]="listaData ? listaData.size : 10" (page)='setPage($event)'>
          <ngx-datatable-column name="Nome" [flexGrow]="3"></ngx-datatable-column>
          <ngx-datatable-column prop="username" name="Username" [flexGrow]="3"></ngx-datatable-column>
          <ngx-datatable-column prop="empresa.nomeFantasia" name="Empresa" [flexGrow]="2" *ngIf="sharedService.isAdmin()"></ngx-datatable-column>
          <ngx-datatable-column name="Permissões" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <label class="badge badge-info" *ngFor="let permissao of row.permissoes">{{permissao | uppercase}}</label>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Ativo" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <label class="badge badge-success" *ngIf="row.ativo">Ativo</label>
              <label class="badge badge-danger" *ngIf="!row.ativo">Inativo</label>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="id" name="Opções" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <label class="badge badge-warning pointer m-r-5" [routerLink]="['/usuario/cadastro', row.id]">
                Ver/Editar
              </label>
              <label class="badge badge-danger pointer" (click)="excluir(row)">Excluir</label>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
              let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
              <div class="page-count">
                {{rowCount.toLocaleString()}} {{totalMessage}} usuários
              </div>
              <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-left'" [pagerRightArrowIcon]="'fa fa-angle-right'"
                [pagerPreviousIcon]="'fa fa-angle-double-left'" [pagerNextIcon]="'fa fa-angle-double-right'"
                [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                (change)="table.onFooterPage($event)">
              </datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </app-card>
    </div>
  </div>
</div>