<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <app-card>
                <div class="row">
                    <div class="col-sm-12 filter-bar">
                        <nav class="navbar navbar-light bg-faded m-b-30 p-10">
                            Fichas
                            <!-- <div class="nav-item nav-grid">
                  <span class="m-r-15">Ações: </span>
  
                  <label class="badge badge-light m-t-10 pointer" [routerLink]="['/apartamento/cadastro']">Novo</label>
                </div> -->
                        </nav>
                    </div>
                </div>

                <!-- filtros -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Condominio</label>
                                <ng-select [ngClass]="'ng-select'" [options]="listaCondominios"
                                    [(ngModel)]="listaData.idCondominio">
                                </ng-select>
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label">Bloco</label>
                                <ng-select [ngClass]="'ng-select'" [options]="listaBlocos"
                                    [(ngModel)]="listaData.idBloco">
                                </ng-select>
                            </div>
                            <div class="col-sm-1">
                                <label class="col-form-label">Número</label>
                                <input type="number" class="form-control" [(ngModel)]="listaData.numero">
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label">Dt Início</label>
                                <input type="date" class="form-control" [(ngModel)]="listaData.dataInicio">
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label">Dt Fim</label>
                                <input type="date" class="form-control" [(ngModel)]="listaData.dataFim">
                            </div>
                            <div class="col-sm-2 m-t-35">
                                <button class="btn btn-primary btn-round m-r-5" (click)="getApartamentos()">
                                    Pesquisar
                                </button>
                                <button class="btn btn-primary btn-round" (click)="limparPesquisa()">
                                    Limpar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <ngx-datatable #table class='data-table' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
                    [rowHeight]="'auto'" [externalPaging]="true" [rows]="fichas"
                    [count]="listaData ? listaData.totalElements : 0" [offset]="listaData ? listaData.page : 0"
                    [limit]="listaData ? listaData.size : 10" (page)='setPage($event)' (sort)="onSort($event)">
                    <ngx-datatable-column prop="apartamento.bloco.condominio.nome" name="Condomínio" [flexGrow]="2">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.apartamento.bloco.condominio.nome }}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="apartamento.bloco.nome" name="Bloco" [flexGrow]="1">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{ row.apartamento.bloco.nome }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="apartamento.numero" name="Apartamento" [flexGrow]="1" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{ row.apartamento.numero }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="dataInicio" name="Dt Início" [flexGrow]="1" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{ row.dataInicio | date:'dd/MM/yyyy' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="dataFim" name="Dt Fim" [flexGrow]="1" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{ row.dataFim | date:'dd/MM/yyyy' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="id" name="Opções" [flexGrow]="1" [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <label class="badge badge-warning pointer m-r-5"
                                [routerLink]="['/ficha', row.id]">Visualizar</label>
                            <label class="badge badge-danger pointer" (click)="excluir(row)">Excluir</label>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                            let-isVisible="isVisible">
                            <div class="page-count">
                                {{rowCount.toLocaleString()}} {{totalMessage}} fichas
                            </div>
                            <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-left'"
                                [pagerRightArrowIcon]="'fa fa-angle-right'"
                                [pagerPreviousIcon]="'fa fa-angle-double-left'"
                                [pagerNextIcon]="'fa fa-angle-double-right'" [page]="curPage" [size]="pageSize"
                                [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                                (change)="table.onFooterPage($event)">
                            </datatable-pager>
                        </ng-template>
                    </ngx-datatable-footer>
                </ngx-datatable>
            </app-card>
        </div>
    </div>
</div>