.pointer {
    cursor: pointer !important;
}

/////////////////////////////////////// CHANGE COMPONENTS

ng-select {
    div.below > div.single {
        height: 35px;
        border-radius: 50px;

        div.value, div.toggle {
            line-height: 20px;
        }
    }
}

.filter-bar > .navbar {
    background-color: $primary-color !important;
    color: $white-txt;

    button {
        color: $white-txt;
    }
}

datatable-footer {
    background-color: $primary-color !important;
    color: $white-txt;

    .datatable-pager a {
        color: $white-txt !important;
    }

    .datatable-pager li.active {
        font-weight: bold;
    }
}