.filter-bar > .navbar {
    background-color: $header-dark-background !important;
    color: $header-dark-text-color;
    border-radius: 5px;
    margin-bottom: 15px !important;

    button {
        color: $header-dark-text-color;
    }
}

button, .pointer {
    cursor: pointer !important;
}

.nav-item > label {
    margin-right: 10px !important;
}

ng-select.is-invalid, ng-select.ng-invalid {
    border: 1px solid #FF5370 !important;
    border-radius: 4px;

    div {
        border: none;
    }
}

.ngx-datatable {
    .datatable-header {
        background-color: $header-dark-background !important;
        color: $header-dark-text-color;
    }

    .datatable-footer {
        background-color: $secondary-color !important;
        color: $header-dark-text-color;
    }

    &.data-table {
        border-radius: 5px;
    }
}

.swal2-container .swal2-modal {
    box-shadow: 0 0 25px -5px $header-dark-background;
    border-radius: 15px;

    .swal2-styled.swal2-confirm {
        border-left-color: $header-dark-background !important;
        border-right-color: $header-dark-background !important;
        background-color: $header-dark-background !important;
    }
}

.input-group-text {
    background-color: $primary-color;
    color: #fff;
}

.border-input {
    margin: 0px;
    border: 1px solid $gray-400 !important;
    border-radius: 5px;
    padding-bottom: 5px;
}

.codigo-register {
    margin-right: 10px !important;
    margin-top: 10px !important;
    color: $secondary-color !important;
    opacity: 0.7;
    align-self: flex-end; 
    text-align: end;
}